In [2]:
import pandas as pd

In [4]:
import numpy as np

#convert the index of a series into a column of a dataframe

In [26]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)

In [10]:
mydict = dict(zip(mylist, myarr))

In [12]:
series = pd.Series(mydict)

In [17]:
print(series)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [22]:
df = series.to_frame().reset_index()

In [23]:
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

#combine many series to form a dataframe

In [37]:
s1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
s2 = pd.Series(np.arange(26))

In [39]:
way1 = pd.concat([s1, s2], axis=1)

In [42]:
way2 = pd.DataFrame({'col1': s1, 'col2': s2})

In [45]:
print(way2.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [48]:
print(way1.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [49]:
#assign name to the seriesâ€™ index

In [51]:
s1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [52]:
s1.name = 'Indexname'

In [55]:
s1.head()

0    a
1    b
2    c
3    e
4    d
Name: Indexname, dtype: object

In [56]:
#get the items of series 1 not present in series 2

In [75]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([2,4,7,8,9])

In [77]:
s1[~s1.isin(s2)] #This will get elements not present

0    1
2    3
dtype: int64

In [76]:
s1.isin(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [72]:
s1[s1.isin(s2)] #This will get common elements

1    2
3    4
dtype: int64

In [80]:
ser_u = pd.Series(np.union1d(s1, s2))  # union
ser_i = pd.Series(np.intersect1d(s1, s2))  # intersect

In [82]:
ser_u[~ser_u.isin(ser_i)]   # To get elements not present in both series 1 and Series 2

0    1
2    3
4    7
5    8
6    9
dtype: int64

In [83]:
#get frequency counts of unique items of a series

In [85]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [86]:
ser.value_counts()

b    7
g    6
e    6
d    4
f    3
c    2
h    1
a    1
dtype: int64